<div>
	<div class="toolbarView">
		<!-- <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Change View</span>
          <span>
            <mat-form-field>
              <mat-select (selectionChange)="changeView($event)" [(ngModel)]="selectedView">
                <mat-option [value]="'mobile'">PhoneView</mat-option>
                <mat-option [value]="'i-pad'">I-pad View</mat-option>
                <mat-option [value]="'desktop'">DeskTop View</mat-option>
              </mat-select>
            </mat-form-field>
          </span>
        </mat-toolbar-row>
      </mat-toolbar> -->
		<div class="m-subheader ">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
						<li class="m-nav__item">
							<button class="btn" (click)="gridIcon()" [ngClass]="{'onActive':!isValue}"><i class="fa fa-th"></i></button>
						</li>
						<li class="m-nav__item">
							<button class="btn" (click)="icon()" [ngClass]="{'onActive':isValue}"><i class="fa fa-id-badge"></i></button>
						</li>
					</ul>
				</div>
				<div>
					<div class="m-dropdown__wrapper" style="z-index: 101;">
						<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
						<div class="m-dropdown__inner">
							<div class="m-dropdown__body">
								<div class="form-group m-form__group">
									<select class="form-control m-input" [(ngModel)]="selectedView" (ngModelChange)="changeView()">
										<option [value]="'mobile'">PhoneView</option>
										<option [value]="'i-pad'">I-pad View</option>
										<option [value]="'desktop'">DeskTop View</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
	<button type="button" (click)="formRender()" class="form-render"><u>Form-Render</u></button>
	<div class="form-io-altered container-fluid">
		<form-builder [form]="form" (change)="onChange($event)"></form-builder>
	</div>
	<pre id="json"><code class="language-json" #json></code></pre>
</div>
<router-outlet></router-outlet>
