:host {
	.m-loading-bar {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
	::ng-deep {
		.mat-progress-bar-background {
			opacity: 0;
		}
		.mat-progress-bar-buffer {
			opacity: 0.3;
		}
	}
}

.title{
	font-weight: 400;
    font-size: 1.07rem;
    text-transform: initial;
    color: #676c7b;
}
#m_header_menu {
	float: right;
}

